body {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    background-attachment: fixed;
    background-image: linear-gradient(pink, rgb(0, 205, 255));
}

.container {
    margin: 20px auto;
    width: 300px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    align-items: center;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    .button {
        min-height: 50px;
        background-color: black;
        color: white;
        font-size: 1.5em;
        border: 1.5px solid white;
        &:hover {
            background-color: lighten($color: black, $amount: 20);
        }
        &:active {
            background-color: lighten($color: black, $amount: 40);
        }
    }
    #equals {
        background-color: orange;
        grid-column: 4/5;
        grid-row: 2/6;
    }
    #clear {
        background-color: rgb(150, 0, 0);
    }
}

#display {
    background-color: black;
    color: white;
    padding: 10px;
    border: 1.5px solid white;
    text-align: right;
}
